cycler
dj-database-url
Django
django-crispy-forms
future
gunicorn
html5lib
kiwisolver
matplotlib
numpy
Pillow
psycopg2-binary
pyparsing
PyPDF2
python-dateutil
python-http-client
pytz
reportlab
six
webencodings
whitenoise
xhtml2pdf
xlrd
xlwt

