{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Entrer vos données</h1>

   <form method="post" action="">
       {% csrf_token %}
       {{ formset.management_form }}
       <table id="formset" class="form">
        {% for form in formset.forms %}
          {% if forloop.first %}
          <thead><tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
          </tr></thead>
          {% endif %}
          <tr >
          {% for field in form.visible_fields %}
            <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
        <input name="valider" type="submit" value="Valider Analyses">
        <button onclick= myFunction()    type="button">Générer résultats</button>

    </form>




{% endblock %}

{%block javascripts %}
{{ block.super }}
<script>
function myFunction()
{
    // il faut mettre des double quote car choix est un string
    var type= "{{ choix }}";
    var nb_echantillon={{nb_echantillon}};
    // l'option safe permet de retourner les valeurs dans le tableau parametreInterne
    var parametreInterne= {{parametre_interne|safe}};
    //on retire le parametre nEchantillon car il n'est pas utile pour les opération à venir
    parametreInterne=parametreInterne.slice(1);
    var nb_param=  parametreInterne.length;
    data_form=[];
    for(var i=0;i<nb_echantillon;i++)
    {
        data_form[i]=[];
        for(var j=0; j< nb_param ; j++)
        {
            var nom="id_form-"+i+"-"+parametreInterne[j];
            data_form[i][j]=nom;

        }
    }

    switch(type)
    {
    case "kmno4":
        for(var i=0;i<nb_echantillon;i++)
        {
        v0=parseFloat(document.getElementById(data_form[i][0]).value);
        v1=parseFloat(document.getElementById(data_form[i][1]).value);
        v2=parseFloat(document.getElementById(data_form[i][2]).value);
        facteur=parseFloat(document.getElementById(data_form[i][3]).value);

        document.getElementById(data_form[i][4]).value = ((v1-v0)*16/v2)*facteur;

        }


    }





}

</script>
{% endblock %}
