<html>
<head>
    <title>Liste d'analyses </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

</head>

  <style>
     h1 {
       text-align: center;
     }
table, th, td {
  border: 1px solid black;
}
th,td
{
    padding: 5px;
    text-align: left;
}


   </style>
 <body>
 {% if path != "" %}
<img src="{{path}}" alt="My image">
{%endif%}
 <h1>test</h1>
 <br/>
 {% for key,value in data_externe.items %}
 <strong>{{key}} :</strong> {{value}}
 <br/>
 {% endfor %}
 <br/>
 <br/>
 <br/>
   <table>
     <thead>
       <tr>
         {% for elmt in param_interne_analyse %}
         <th> {{elmt}}</th>
         {% endfor %}
       </tr>
     </thead>
     <tbody>
       {% for analyse in valeur_interne_feuille %}
         <tr>
           {% for param in analyse %}
           <td>{{param}}</td>
           {% endfor %}
         </tr>
       {% endfor %}
     </tbody>
   </table>
 </body>
</html>