{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .asteriskField {
    display: none;
}
</style>
<div class="row">
<h1> Renseignez les données suivantes </h1>
</div>
<br/>
{% if date_etalonnage != "" %}
La dernière date d'étalonnage est: {{date_etalonnage}}
<br/>
<br/>
{% endif %}

<div class="row">
<div class="col-lg-6">
    <form  autocomplete="off" action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            {%for field in form %}
            <div class="form-group col-md-6 mb-0">
                {{field|as_crispy_field}}
            </div>
            {% endfor %}
        </div>
        <input type="submit" name="valider" class="btn btn-primary"/>
    </form>
</div>
</div>


{% endblock %}


{%block javascripts %}
{{ block.super }}
<script>



$("#id_ox_1").on("input",function(){
    var val=parseFloat((document.getElementById("id_ox_1").value).replace(",","."));
    var result= parseFloat((2*5*20)/val).toFixed(2);
  $("#id_ox_2").val(result);
});

$("#id_dco_1").on("input",function(){
    if(document.getElementById("id_dco_1").value!="")
    {
        var val=parseFloat((document.getElementById("id_dco_1").value).replace(",","."));
        var result= parseFloat(1.2/val).toFixed(3);
        $("#id_dco_2").val(result);
    }
    else
        $("#id_dco_2").val("");
});

$("#id_dco_3, #id_dco_1").on("input",function(){
    if(document.getElementById("id_dco_3").value!="")
    {
        var val1=parseFloat((document.getElementById("id_dco_1").value).replace(",","."));
        var val2=parseFloat((document.getElementById("id_dco_3").value).replace(",","."));
        if(Math.abs(val2-val1)<0.5)
        {
            $("#id_dco_4").val("Blanc conforme");
        }
        else
        {
            $("#id_dco_4").val("Blanc non conforme");
        }
    }
    else
        $("#id_dco_4").val("");
});


</script>
{% endblock %}