{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

 <style>

.table_absorbance table,
.table_absorbance th,
.table_absorbance td
{
  border: 1px solid black;
}
.table_absorbance th,
.table_absorbance td
{
    padding: 5px;
    text-align: center;
    max-width:150px;
    word-wrap:break-word;
}

#tab_feuille_calcul table
{
    table-layout: fixed;
    width: 90%;
    min-width: 400px;
}
#tab_feuille_calcul th,
#tab_feuille_calcul td
{
max-width:120px;
text-align: center;
word-wrap:break-word;
}
</style>


<h1 class="row"> Entrez vos données</h1>
<br/>
{% if error %}
    <br/>
    <div class="row">
        <p class="text-danger"><strong>Le formulaire est incomplet veuillez rentrer tous les champs.</strong></p>
    </div>
{% endif %}

{% if choix in 'silicate,sabm,silice,silice ifremer'%}

<div class="row">

<a href="#demo" data-toggle="collapse">Afficher le tableau d'absorbance</a>
</div>
<div id="demo" class="collapse">
<div class="row">
    <div class="col-lg-6">
        <br/>
        <br/>
        <table class="table_absorbance">
            <thead>
            <tr>
                {%for param in parametre_etalonnage %}
                <th>
                {{param}}
                </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {%for key,value in concentration_and_absorbance.items %}
            <tr>
                <td>{{key}} </td><td>{{value}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <img src="{% static static_name_fig %}" alt="My image" height="400">
    </div>
</div>
</div>
{% endif %}
<div class="row">

   <form  autocomplete="off" method="post" action="">
       {% csrf_token %}
       {{ formset.management_form }}
       <div style="overflow:scroll; border:#000000 1px solid;width: 100%;min-width:600px;max-width:1000px;height:auto">
           <table id="tab_feuille_calcul">
            {% for form in formset.forms %}
              {% if forloop.first %}
              <thead><tr>
                {% for field in form.visible_fields %}
                <th>{{ field.label|capfirst }}</th>
                {% endfor %}
              </tr></thead>
              {% endif %}
              <tr >
              {% for field in form.visible_fields %}
                <td>
                {# Include the hidden fields in the form #}
                {% if forloop.first %}
                  {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                  {% endfor %}
                {% endif %}
                  {{ field }}
                </td>
              {% endfor %}
              </tr>
            {% endfor %}
            </table>
       </div>
        <input name="valider" class="btn btn-primary" type="submit" value="Valider Analyses">
        <button onclick= myFunction()    type="button">Générer résultats</button>

    </form>
</div>






{% endblock %}

{%block javascripts %}
{{ block.super }}
<script>
function forecast(x, ky, kx){
   var i=0, nr=0, dr=0,ax=0,ay=0,a=0,b=0;
   function average(ar) {
          var r=0;
      for (i=0;i<ar.length;i++){
         r = r+ar[i];
      }
      return r/ar.length;
   }
   ax=average(kx);
   ay=average(ky);
   for (i=0;i<kx.length;i++){
      nr = nr + ((kx[i]-ax) * (ky[i]-ay));
      dr = dr + ((kx[i]-ax)*(kx[i]-ax))
   }
  b=nr/dr;
  a=ay-b*ax;
  return (a+b*x);
}

function myFunction()
{
    // il faut mettre des double quote car choix est un string
    var type= "{{ choix }}";
    var nb_echantillon={{nb_echantillon}};
    // l'option safe permet de retourner les valeurs dans le tableau parametreInterne
    var parametreInterne= {{parametre_interne|safe}};
    //on retire le parametre nEchantillon car il n'est pas utile pour les opération à venir
    parametreInterne=parametreInterne.slice(1);
    var nb_param=  parametreInterne.length;
    var data_form=[];
    for(var i=0;i<nb_echantillon;i++)
    {
        data_form[i]=[];
        for(var j=0; j< nb_param ; j++)
        {
            var nom="id_form-"+i+"-"+parametreInterne[j];
            data_form[i][j]=nom;

        }
    }

    switch(type)
    {
        case "kmno4":
            for(var i=0;i<nb_echantillon;i++)
            {
                var v0=parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v1=parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var v2=parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var facteur=parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                document.getElementById(data_form[i][4]).value = parseFloat(((v1-v0)*16/v2)*facteur).toFixed(2) ;

            }
            break;
        case "siccite":
            for(var i=0;i<nb_echantillon;i++)
            {
                var m1=  parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var m2 = parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var m_coup_vide = parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var v_l = parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                document.getElementById(data_form[i][2]).value = parseFloat(m2-m_coup_vide).toFixed(2);
                document.getElementById(data_form[i][5]).value = parseFloat((m2-m_coup_vide)*(1/v_l)).toFixed(0);
                document.getElementById(data_form[i][6]).value = parseFloat((m2-m_coup_vide)/(m1-m_coup_vide)*100).toFixed(0) ;
                var ms_prct = parseFloat((document.getElementById(data_form[i][6]).value).replace(",","."));
                document.getElementById(data_form[i][7]).value = parseFloat(100-ms_prct).toFixed(0);

            }
            break;

        case "mvs":
             for(var i=0;i<nb_echantillon;i++)
             {
                var ma = parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var mb = parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var mc = parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var m2 = parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var v_l = parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                document.getElementById(data_form[i][5]).value =parseFloat(((mc-ma)/(mb-ma)*100)).toFixed(0) ;
                document.getElementById(data_form[i][6]).value =parseFloat((mc-ma)*(1/v_l)).toFixed(0);
                document.getElementById(data_form[i][7]).value =parseFloat(((mc-m2)/(mc-ma)*100)).toFixed(0) ;
                document.getElementById(data_form[i][8]).value = parseFloat((mc-m2)*(1/v_l)).toFixed(0);
             }
             break;

        case "mest":
            for(var i=0;i<nb_echantillon;i++)
            {
                var p1 = parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v  = parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var p2 = parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                document.getElementById(data_form[i][3]).value = parseFloat(((p2-p1)*1000)/v).toFixed(1);
            }
            break;

        case "dco" :
            var solution_c = "{{feuille_calcul.var6_dco}}";
            var essai_blanc= "{{feuille_calcul.var7_dco}}";
            solution_c = parseFloat(solution_c);
            essai_blanc = parseFloat(essai_blanc);
            for(var i=0;i<nb_echantillon;i++)
            {
                var v2= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v_analyse= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                facteur= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                document.getElementById(data_form[i][3]).value = parseFloat(((8000*solution_c*(essai_blanc-v2))/v_analyse)*facteur).toFixed(2);
            }
            break;
        case "ntk":
            for(var i=0;i<nb_echantillon;i++)
            {
                var c= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v0= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var v1= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var v2= parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var facteur= parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                if(v0 >0 )
                {
                     document.getElementById(data_form[i][5]).value =parseFloat(((v1-v2)/v0)*c*14.01*1000*facteur).toFixed(2);
                }
            }
            break;

        case "residu sec":
            for(var i=0;i<nb_echantillon;i++)
                {
                    var m0= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                    var m1= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                    var m2= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                    var v= parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                    document.getElementById(data_form[i][4]).value =parseFloat(((m1-m0)/v)*1000).toFixed(0);
                    document.getElementById(data_form[i][5]).value = parseFloat(((m2-m0)/v)*1000).toFixed(0);

                }
            break;

        case "chlorophylle lorenzen":

            for(var i=0;i<nb_echantillon;i++)
            {
                var v = parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var blc_665 = parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var blc_750 = parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var a0_na_665 = parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var a0_na_750 = parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                var a0_a_665 = parseFloat((document.getElementById(data_form[i][5]).value).replace(",","."));
                var a0_a_750 = parseFloat((document.getElementById(data_form[i][6]).value).replace(",","."));
                document.getElementById(data_form[i][7]).value =parseFloat((a0_na_665-blc_665)-(a0_na_750-blc_750)).toFixed(3);
                document.getElementById(data_form[i][8]).value =parseFloat((a0_a_665-blc_665)-(a0_a_750-blc_750)).toFixed(3);
                var a_na_665= parseFloat((document.getElementById(data_form[i][7]).value).replace(",","."));
                var a_a_665= parseFloat((document.getElementById(data_form[i][8]).value).replace(",","."));
                document.getElementById(data_form[i][9]).value =parseFloat(27.7*(a_na_665 - a_a_665)*(10/(v*5))).toFixed(2);
                document.getElementById(data_form[i][10]).value =parseFloat((27.7*((1.7*a_a_665)-a_na_665)*10)/(v*5)).toFixed(2);
            }
            break;
        case "dbo avec dilution":
            for(var i=0;i<nb_echantillon;i++)
            {
                var c3=  parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var c4=  parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var c1=  parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var c2=  parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var vt=  parseFloat((document.getElementById(data_form[i][8]).value).replace(",","."));
                var ve=  parseFloat((document.getElementById(data_form[i][9]).value).replace(",","."));

                if(c1>0)
                {
                    document.getElementById(data_form[i][4]).value=parseFloat(c1/3).toFixed(2);
                    document.getElementById(data_form[i][5]).value= parseFloat(c1-c2).toFixed(2);
                    document.getElementById(data_form[i][6]).value= parseFloat(2*(c1/3)).toFixed(2);

                }
                if(vt>0)
                {
                    document.getElementById(data_form[i][10]).value= parseFloat(vt-ve).toFixed(1);
                    document.getElementById(data_form[i][11]).value= parseFloat(vt/ve).toFixed(0);
                    document.getElementById(data_form[i][12]).value=parseFloat((vt-ve)/vt).toFixed(3);
                }


                if(c3>0)
                {
                    document.getElementById(data_form[i][7]).value= parseFloat(c3-c4).toFixed(2);
                    var c1_c2= parseFloat((document.getElementById(data_form[i][5]).value).replace(",","."));
                    var vt_ve_vt= parseFloat((document.getElementById(data_form[i][12]).value).replace(",","."));
                    var c3_c4= parseFloat((document.getElementById(data_form[i][7]).value).replace(",","."));
                    var vt_par_ve= parseFloat((document.getElementById(data_form[i][11]).value).replace(",","."));
                    document.getElementById(data_form[i][13]).value= parseFloat((c1_c2-vt_ve_vt*c3_c4)*vt_par_ve).toFixed(0);
                    var c1_par_3=parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."))
                    if(c1_par_3 < c1_c2)
                    {
                        document.getElementById(data_form[i][14]).value= "valable";
                    }
                    else
                    {
                      document.getElementById(data_form[i][14]).value= "non valable";

                    }
                    var deux_c1_div_troix = parseFloat((document.getElementById(data_form[i][6]).value).replace(",","."));
                    if(c1_c2 <= deux_c1_div_troix)
                    {
                        document.getElementById(data_form[i][15]).value= "valable";
                    }
                    else
                    {
                        document.getElementById(data_form[i][15]).value= "non valable";
                    }

                    var val13=document.getElementById(data_form[i][14]).value;
                    var val14=document.getElementById(data_form[i][15]).value
                    if(val13==val14)
                    {
                         document.getElementById(data_form[i][16]).value= "VRAI";
                    }
                    else
                    {
                         document.getElementById(data_form[i][16]).value= "FAUX";
                    }

                }
            }
            break;
        case "dbo sans dilution":
            for(var i=0;i<nb_echantillon;i++)
            {
                var m1_o2t0= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var m1_o2t5= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                if(m1_o2t0 > 0)
                {
                    document.getElementById(data_form[i][2]).value= parseFloat(m1_o2t0 - m1_o2t5).toFixed(2);
                }
                var m2_o2t0= parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var m2_o2t5= parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                if(m2_o2t0 > 0)
                {
                    document.getElementById(data_form[i][5]).value= parseFloat(m2_o2t0 - m2_o2t5).toFixed(2);
                }
                var dbo1= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var dbo2= parseFloat((document.getElementById(data_form[i][5]).value).replace(",","."));
                var val=((dbo1-dbo2)*100)/(0.5*(dbo1+dbo2));
                val=Math.abs(val);
                document.getElementById(data_form[i][6]).value= parseFloat(val).toFixed(2);
                document.getElementById(data_form[i][8]).value= parseFloat(3.2678*4).toFixed(2);
                var r_experimental= parseFloat((document.getElementById(data_form[i][6]).value).replace(",","."));
                var r_théorique= parseFloat((document.getElementById(data_form[i][7]).value).replace(",","."));
                var limite= parseFloat((document.getElementById(data_form[i][8]).value).replace(",","."));
                if(r_experimental <limite && r_experimental > r_théorique)
                    document.getElementById(data_form[i][9]).value= "VRAI";
                else
                    document.getElementById(data_form[i][9]).value= "FAUX";
            }
            break;
        case "chlorophylle scor unesco":

            for(var i=0;i<nb_echantillon;i++)
            {
                var v_solvant= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v_eau= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var parcour= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var a0_750= parseFloat((document.getElementById(data_form[i][3]).value).replace(",","."));
                var a0_663= parseFloat((document.getElementById(data_form[i][4]).value).replace(",","."));
                var a0_645= parseFloat((document.getElementById(data_form[i][5]).value).replace(",","."));
                var a0_630= parseFloat((document.getElementById(data_form[i][6]).value).replace(",","."));
                var a0_430= parseFloat((document.getElementById(data_form[i][7]).value).replace(",","."));
                var a0_410= parseFloat((document.getElementById(data_form[i][8]).value).replace(",","."));
                document.getElementById(data_form[i][9]).value= parseFloat((v_solvant/(v_eau*parcour))*(11.64*(a0_663 - a0_750)-2.16*(a0_645-a0_750)+0.1*(a0_630-a0_750))*((59+137.6*Math.log((a0_430-a0_750)/(a0_410-a0_750)))/100)).toFixed(2)
                var ca=  parseFloat((document.getElementById(data_form[i][9]).value).replace(",","."));
                document.getElementById(data_form[i][10]).value=parseFloat((v_solvant/(v_eau*parcour))*(11.64*(a0_663-a0_750)-2.16*(a0_645-a0_750)+0.1*(a0_630-a0_750))-ca).toFixed(2);

            }
            break;
        case "oxygene dissous":
            var c= "{{feuille_calcul.var2_oxygene_dissous}}";
            c=  parseFloat(c);
            for(var i=0;i<nb_echantillon;i++)
            {
                var v1= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var v2= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var v0= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                document.getElementById(data_form[i][3]).value = parseFloat(((32*v2*c*(v0/(v0-3)))/(4*v1))).toFixed(2);

            }
            break;
        case "sabm":
            var concentration= {{array_concentration|safe}};
            var absorbance= {{array_absorbance|safe}};

            for(var i=0;i<nb_echantillon;i++)
            {
                var a= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var epaisseur= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var facteur= parseFloat((document.getElementById(data_form[i][2]).value).replace(",","."));
                var val =forecast(a,concentration,absorbance);
                if(val> 1000)
                {
                    document.getElementById(data_form[i][3]).value = "hors gamme";
                }
                else
                {
                    val = val*facteur/epaisseur;
                    document.getElementById(data_form[i][3]).value = parseFloat(val).toFixed(2) ;
                }
            }
            break;
        case "silicate":
            var concentration= {{array_concentration|safe}};
            var absorbance= {{array_absorbance|safe}};

            for(var i=0;i<nb_echantillon;i++)
            {
                var a= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var facteur= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var val =forecast(a,concentration,absorbance);
                if(val> 5)
                {
                    document.getElementById(data_form[i][2]).value = "hors gamme";
                }
                else
                {
                    document.getElementById(data_form[i][2]).value = parseFloat(val*facteur).toFixed(2);
                }


            }
            break;
        case "silice" :
            var concentration= {{array_concentration|safe}};
            var absorbance= {{array_absorbance|safe}};
            for(var i=0;i<nb_echantillon;i++)
            {
                var a= parseFloat((document.getElementById(data_form[i][0]).value).replace(",","."));
                var facteur= parseFloat((document.getElementById(data_form[i][1]).value).replace(",","."));
                var val =forecast(a,concentration,absorbance);
                if(val> 1000)
                {
                    document.getElementById(data_form[i][2]).value = "hors gamme";
                }
                else
                {
                    document.getElementById(data_form[i][2]).value = parseFloat(val*facteur).toFixed(2);
                }


            }
            break;
    }





}
</script>

<script>
var type= "{{ choix }}";
var nb_echantillon={{nb_echantillon}};
// l'option safe permet de retourner les valeurs dans le tableau parametreInterne
var parametreInterne= {{parametre_interne|safe}};
//on retire le parametre nEchantillon car il n'est pas utile pour les opération à venir
parametreInterne=parametreInterne.slice(1);
var nb_param=  parametreInterne.length;
var data_form=[];
for(var i=0;i<nb_echantillon;i++)
{
    data_form[i]=[];
    for(var j=0; j< nb_param ; j++)
    {
        var nom="id_form-"+i+"-"+parametreInterne[j];
        data_form[i][j]=nom;

    }
}
switch(type)
{
    case "siccite":
        $("#"+data_form[0][4]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][4]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][4]).val(valeur);
            }

        });

        break;

    case "mvs":
        $("#"+data_form[0][4]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][4]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][4]).val(valeur);
            }

        });
        break;

    case "kmno4":
        $("#"+data_form[0][0]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][0]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][0]).val(valeur);
            }

        });

        $("#"+data_form[0][2]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][2]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][2]).val(valeur);
            }

        });
        $("#"+data_form[0][3]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][3]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][3]).val(valeur);
            }

        });

        break;
    case "dco":
        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });
        $("#"+data_form[0][2]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][2]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][2]).val(valeur);
            }

        });
        break;
    case "ntk":
        $("#"+data_form[0][0]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][0]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][0]).val(valeur);
            }

        });

        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });
        $("#"+data_form[0][3]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][3]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][3]).val(valeur);
            }

        });
        $("#"+data_form[0][4]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][4]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][4]).val(valeur);
            }

        });
        break;

    case "silice":
        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });
        break;

    case "residu sec":
         $("#"+data_form[0][2]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][2]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][2]).val(valeur);
            }

        });
        break;

    case "sabm":
        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });

        $("#"+data_form[0][2]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][2]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][2]).val(valeur);
            }

        });
        break;

    case "chlorophylle scor unesco":
        $("#"+data_form[0][0]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][0]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][0]).val(valeur);
            }

        });
        $("#"+data_form[0][2]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][2]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][2]).val(valeur);
            }

        });
        break;

    case "oxygene dissous":

        break;

    case "silicate":
        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });
        break;

    case "dbo avec dilution":
        $("#"+data_form[0][0]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][0]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][0]).val(valeur);
            }

        });
        $("#"+data_form[0][1]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][1]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][1]).val(valeur);
            }

        });
        $("#"+data_form[0][8]).on("focusout",function(){
            var valeur=parseFloat(document.getElementById(data_form[0][8]).value);

            for(var i=1;i<nb_echantillon;i++)
            {
                $("#"+data_form[i][8]).val(valeur);
            }

        });
        break;
}

</script>
{% endblock %}
