{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <h1> Importez votre feuille de paillasse </h1>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-lg-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="text-primary">Upload Your File </label>
            <input name="myfile" id="myfile" type="file" class="form-control" multiple="">
            <input type="hidden" name="session" id="session">
            <input type="submit" name="valider" class="btn btn-primary "/>
        </form>
    </div>
</div>
<br/>
{% if error1 %}
 <div class="row">
    <p class="text-danger"><strong>Le format du fichier est invalide.</strong></p>
</div>
{% elif error2 %}
<div class="row">
    <p class="text-danger"><strong>Pas d'analyse reconnu dans le fichier.</strong></p>
</div>
{% endif %}

{% endblock %}

{%block javascripts %}
{{ block.super }}
<script>
function makeid() {
    var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for (var i = 0; i < 10; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));
    return text;
}

 window.onload = function() {
 document.getElementById("session").value = makeid();
 }
</script>
{%endblock %}