{% extends 'myapp/base.html' %}
{% block content %}
<table id="table" class="compact  row-border stripe hover">
<thead>
<tr>
    <th>N° Feuille de calcul</th>
    <th>Type d'analyse</th>
    <th>Date création</th>
    <th>XLS</th>
    <th>PDF</th>
</tr>
</thead>
<tbody>
{% for clc in feuille_calcul %}
<tr>
    {% if user.is_superuser %}
    <td> <a href="{% url 'myapp_feuille_admin' id_feuille_calcul=clc.id %}">{{clc.id}}</a></td>
    {% else %}
    <td> {{clc.id}} </td>
    {% endif %}
    <td>  {{clc.type_analyse.nom}}  </td>
    <td> {{clc.date_creation}}</td>
    <td><a href="{% url 'myapp_export_xls' id_feuille_calcul=clc.id %}"><img src="http://icons.iconarchive.com/icons/graphicloads/filetype/32/excel-xls-icon.png" border="0"></a> </td>
    <td><a href="{% url 'myapp_export_pdf' id_feuille_calcul=clc.id %}"><img src="http://icons.iconarchive.com/icons/graphicloads/filetype/32/pdf-icon.png" border="0"></a> </td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{%block javascripts %}
{{ block.super }}
<script>
$(document).ready(function() {
$('#table').DataTable
    ({
        "pagingType": "simple_numbers",
        "info":     false

    });
});
</script>
{% endblock %}