{% extends 'myapp/base.html' %}
{% block content %}

<form id="search_echantillon" method="post" autocomplete="off" action=".">
{% csrf_token %}
<div class="row">
<p>
<a data-toggle="collapse" href="#collapseEchantillon" role="button" aria-expanded="false" aria-controls="collapseEchantillon">
Rechercher echantillon
</a>
</p>
</div>
<div class="collapse" id="collapseEchantillon">
Entrez le numéro de l'échantillon:<br>
<input id="num_echantillon" type="text" name="echantillon"><br>
<input name="Rechercher" class="btn btn-primary" type="submit" value="Rechercher">
</div>
</form>
{% if show %}
<br/>
<h5><p class="text-danger"> Le numéro d'échantillon est introuvable.</p></h5>
{% endif %}
<table id="table" class="compact  row-border stripe hover">
<thead>
<tr>
    <th>N° Feuille de calcul</th>
    <th>Type d'analyse</th>
    <th>Date création</th>
    <th>XLS</th>
    <th>PDF</th>
    {% if user.is_superuser %}
    <th> </th>
    {% endif %}

</tr>
</thead>
<tbody>
{% for clc in feuille_calcul %}
<tr>
    <td> {{clc.id}} </td>
    <td>  {{clc.type_analyse.nom}}  </td>
    <td> {{clc.date_creation}}</td>
    <td><a href="{% url 'myapp_export_xls' id_feuille_calcul=clc.id %}"><img src="http://icons.iconarchive.com/icons/graphicloads/filetype/32/excel-xls-icon.png" border="0"></a> </td>
    <td><a href="{% url 'myapp_export_pdf' id_feuille_calcul=clc.id %}"><img src="http://icons.iconarchive.com/icons/graphicloads/filetype/32/pdf-icon.png" border="0"></a> </td>
    {% if user.is_superuser %}
    <td><a href="{% url 'myapp_externe_data_admin' id_feuille_calcul=clc.id %}">modifier</a></td>
    {% endif %}

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}

{%block javascripts %}
{{ block.super }}
<script>
$(document).ready(function() {
$('#table').DataTable
    ({
        "pagingType": "simple_numbers",
        "info":     false

    });
});
</script>
{% endblock %}