<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  autocomplete="off" action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            {%for field in form %}
            {% if field.name in param_externe_analyse %}
                {{field.name}}
            <br/>
            {% endif %}
            {% endfor %}
        </div>
        <input type="submit" name="valider" class="btn btn-primary"/>
</form>
<br/>
<br/>
{{param_externe_analyse}}
</body>
</html>